@model IEnumerable<Models.Models.Area>

@{
    ViewBag.Title = "Areas";
    Layout = "~/Views/Shared/_Layout0.cshtml";
}

<h2>Gestión de Areas</h2>

<p>
    <input type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#Areas" onclick="Crear()" value="Crear Nueva Area">
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Encargado.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento.Nombre)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Encargado.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamento.Nombre)
        </td>

        <td>
            <a href="#" type="button" class="btn btn-info btn-sm " data-toggle="modal" data-target="#Areas" onclick="Editar()">
                <span class="glyphicon glyphicon-pencil"></span> Editar
            </a>
            @Html.HiddenFor(modelItem => item.Id)
        </td>
        <td>
            <a href="#" type="button" class="btn btn-info btn-sm " data-toggle="modal" data-target="#Areas" onclick="Detalles()">
                <span class="glyphicon glyphicon-eye-open"></span> Detalles
            </a>
            
        </td>
    </tr>
}

</table>
@Html.BoostStrapModal("Areas", customTarget: "AreaModalContent", useLargeModal: true)
<script type="text/javascript">


    function Crear() {
        $("#AreaModalContent").html('');
        $.ajax({
            type: "GET",
            url: '@Url.Action("Create", "Areas")',
            success: function (view) {
            $("#AreaModalContent").html(view);
            },

        });
    }
    function Editar() {
        $("#AreaModalContent").html('');
        var Id = $("#item_Id").val();
        $.ajax({
            type: "GET",
            url: '@Url.Action("Edit", "Areas")' + "/" + Id,
            //data: Id,
            success: function (view) {
            $("#AreaModalContent").html(view);
            },

        });
    }
    function Detalles() {
        $("#AreaModalContent").html('');
        var Id = $("#item_Id").val();
        $.ajax({
            type: "GET",
            url: '@Url.Action("Details", "Areas")' + "/" + Id,
            //data: Id,
            success: function (view) {
            $("#AreaModalContent").html(view);
            },

        });
    }
</script>