@model IEnumerable<Models.Models.Empresa>

@{
    ViewBag.Title = "Empresa";
    Layout = "~/Views/Shared/_Layout0.cshtml";
}

<h2>Configuracón de la Empresa</h2>

<p>
    <input type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#Empresas" onclick="Crear()" value="Crear Nueva Empresa">
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Siglas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Siglas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            <a href="#" type="button" class="btn btn-info btn-sm " data-toggle="modal" data-target="#Empresas" onclick="Editar()">
                <span class="glyphicon glyphicon-pencil"></span> Editar
            </a>
            @Html.HiddenFor(modelItem => item.Id)
        </td>
        <td>
            <a href="#" type="button" class="btn btn-info btn-sm " data-toggle="modal" data-target="#Empresas" onclick="Detalles()">
                <span class="glyphicon glyphicon-eye-open"></span> Detalles
            </a>

        </td>
    </tr>
}

</table>
@Html.BoostStrapModal("Empresas", customTarget: "EmpresaModalContent", useLargeModal: true)
<script type="text/javascript">


    function Crear() {
        $("#EmpresaModalContent").html('');
        $.ajax({
            type: "GET",
            url: '@Url.Action("Create", "Empresas")',
            success: function (view) {
                $("#EmpresaModalContent").html(view);
            },

        });
    }
    function Editar() {
        $("#EmpresaModalContent").html('');
        var Id = $("#item_Id").val();
        $.ajax({
            type: "GET",
            url: '@Url.Action("Edit", "Empresas")' + "/" + Id,
            //data: Id,
            success: function (view) {
                $("#EmpresaModalContent").html(view);
            },

        });
    }
    function Detalles() {
        $("#EmpresaModalContent").html('');
        var Id = $("#item_Id").val();
        $.ajax({
            type: "GET",
            url: '@Url.Action("Details", "Empresas")' + "/" + Id,
            //data: Id,
            success: function (view) {
                $("#EmpresaModalContent").html(view);
            },

        });
    }
</script>
